body{
    background-color: rgb(84, 84, 84);
    color: rgb(46, 135, 191);
}
.container{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
label{
    padding-bottom: 10px;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 5%;
    margin-left: 170px;
}
.container{
    width: 100;
   
}
#result{
    margin-top: 10px;
    width: 270px;
    display: flex;
    background-color: purple;
    justify-content: center;
    align-items: center;
    
}
