body{
    background-color: rgb(84, 84, 84);
    color: rgb(46, 135, 191);
}
.container{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
label{
    padding-bottom: 10px;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 5%;
    margin-left: 100px;
}
.container.btn{
    margin-left: -150px;
}
#result{
    margin-top: 10px;
    width: 270px;
    display: flex;
    background-color: purple;
    justify-content: center;
    align-items: center;
    
}
body{
    text-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
}
